.slideshow {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start; /* images ziguma kuri left */
  align-items: center;
  margin-top: 0.5rem;
}

.slideshow div {
  transition: opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}
