.header {
  gap: 1rem;
  margin: 3rem auto 5rem auto;
  width: 91%;
  max-width: 75rem;
  color: #cbc2b3;
  font-size: 1rem;

}

.header h1,
.header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #312e2e;
  text-align: center;
}

.highlight {
  background: linear-gradient(90deg, #f9572a, #bb9e8c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.main {
  width: 91%;
  max-width: 45rem;
  margin: 0 auto 5rem auto;
}


.form {
  background: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #ddd6cb;
  margin-bottom: 0.3rem;
}

.form input,
.form textarea {
  padding: 0.6rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #444;
  background: #2a2a2a;
  color: #fff;
  font-size: 0.95rem;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: #f9572a;
  background: #2f2f2f;
}


.row {
  display: flex;
  gap: 1rem;
}

.row p {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  background: pink;
}


.button {
  padding: 0.75rem 2rem;
  border-radius: 999px;
  border: none;
  background: #f9572a;
  color: white;
  font-size: 0.50rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.button:hover {
  background: #ff7a4d;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(249, 87, 42, 0.5);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(249, 87, 42, 0.4);
}

.button:disabled {
  background: #b94a2c;
  cursor: not-allowed;
  opacity: 0.7;
}

.nav {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.link {
  background-color: #f59e0b;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight:bold;
}

.linkAlt {
  background-color: transparent;
  border: 2px solid #f59e0b;
  color: #daab5a;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  background-color: #f9f7f4;
  color: #f59e0b;
}

.linkAlt:hover {
  background-color: #e6ab47;
  color: white;
}