.cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #e45a05;
  color: rgb(168, 32, 32);
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta a:hover {
  background-color: #59453c;
  transform: translateY(-2px);
}
.loading {
    text-align: center;
    animation: loading 1.2s ease-in-out infinite;

}
@keyframes loading {
    0% {
        color: aliceblue;
    }
    50% {
        color: #f9572a;
    }
    100% {
        color: rgb(101, 153, 199);
    }
}