@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(28, 23, 23);
  color: white;
  margin: 0;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  z-index: -1;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

p {
  text-align: center;
}

.page-content {
  position: relative;
  z-index: 1;
  padding-top: 6rem;
}
