@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

.html {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(28, 23, 23);
  color: white;
  margin: 0;
}


h1 {
  text-align: center;
  margin-top: 1rem;
}

p {
  text-align: center;
}
.section  {
  color: rgb(28, 23, 23);
}


