
.header {
  position: relative;
  min-height: 420px;
  width: 100%;

  display: flex;
  flex-direction: column;        
  justify-content: center;       
  align-items: center;           

  text-align: center;
  padding: 2rem 1rem;
  color: white;
  z-index: 1;
}


.hero {
  max-width: 800px;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  opacity: 0.95;
}





@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

 
}

.section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #eee8e8;
}

