



.hero {
  max-width: 800px;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  opacity: 0.95;
}


.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.75rem;
  z-index: 2;
}

.cta a {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border-radius: 0.6rem;
  background-color: #59453c;
  color: white;
  text-decoration: none;
  font-weight: bold;

}

.cta a:hover {
  background-color: #a9856e;
  transform: translateY(3px);
}


.slideshow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;          
  height: 180px;
  transform: translate(50%, 50%);
  z-index: 0;
  opacity: 0.25;         
  pointer-events: none;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

 
}

.section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #897070;
}

