.main {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
  color: #333;
}

.header {
 display: flex;
 padding: 2rem 1rem;
 gap: 3rem;
 margin:auto;
 max-width: 80rem;

}

.header img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-left 1s ease-out;
}

.creator {
  color: #666;
  font-style: italic;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 2rem;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.summary,
.instructions {
  margin-bottom: 2rem;
}

.summary h2,
.instructions h2 {
  margin-bottom: 0.5rem;
}

.instructions pre {
  white-space: pre-wrap;
  line-height: 1.6;
  background-color: #a47878;
  padding: 1rem;
  border-radius: 8px;
}

.notFound {
  text-align: center;
  margin-top: 5rem;
}
.mealImage {
  border-radius: 12px;
  margin: 2rem auto;
  display: block;
}
.mealDetails {
  text-align: center;
  font-size: 1.25rem;
  color: #666;
}