.main {
  max-width: 790px;
  margin: 2rem auto;
  padding: 0rem 1rem;
  font-family: sans-serif;
 
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: left;
  
}

.image {
  position: relative;
  width: 200px;  
  height: 200px; 
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 0rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 3rem;
}

.headerText h1 {
  margin: 0.5rem 0;
  font-size: 3rem;
  text-align: left;
}

.creator {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #928080;
}

.creator a {
  color: #e97251;
  text-decoration: none;
}

.creator a:hover {
  text-decoration: underline;
}

.summary {
  font-size: 1rem;
  color: #e7c483;
  margin-top: 0.5rem;
}

.instructions {
  background:rgb(182, 148, 148);
  padding: 1rem;
  border-radius: 12px;
  line-height: 1.5;
  font-size: 0.9rem;
  white-space: pre-wrap; 
  color: black;
}

.notFound {
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
  color: red;
}


