.meal {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  padding: 1rem;
}

.imageWrapper {
  width: 200px;
  height: 170px;
  position: relative;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;  
  margin-right: auto; 
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.headerText h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.headerText p {
  margin: 0.2rem 0 0;
  font-size: 0.8rem;
  color: #666;
}

.content .summary {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  color: #333;
}

.actions .link {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  background: #cd694e;
  color: #7ba4b6;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.actions .link:hover {
  background: #ff8a05;
}
