.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  color: white;
  
}


.logoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.logoText {
  font-weight: bold;
  font-size: 1.5rem;
}


.slideshowWrapper {
  width: 100%;
  max-width: 400px; 
  margin-bottom: 2rem;
}


.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
}


.cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #926b53;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta a:hover {
  background-color: #59453c;
  transform: translateY(-2px);
}
